body {
    display: flex;
  align-items: center;
  justify-content: center;
    text-align:center;
    width:250px;
    height: 100px;
    background: #241200;
    border-radius: 20;
}
.author {
  color: white;
  background: rgba(255, 238, 0, 0.4);
  border-radius: 12px;
  padding: 12px 12px 12px 12px;
  width: 160px;
  top: 12px;
  left: 12px;
  font-weight: 500;
  font-size: 13px;
  box-shadow:
    0 0 10px 3px rgba(255, 238,0,0.5),
    inset 0 0 10px 2px rgba(255, 238,0,0.25);
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;

  transition: box-shadow 0.7s ease;
}

.author:hover {
  box-shadow:
    0 0 20px 6px rgba(255, 238,0,0.8),
    inset 0 0 20px 4px rgba(255, 238,0,0.5);
}
.author-icon {
  z-index: 9999999;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 238,0,0.4);
  flex-shrink: 0;
  transition: transform  0.7s ease;
}

.author-icon:hover {
  transform: scale(2);
}